<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriceMatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriceMatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PriceMatch.Properties.Settings>
            <setting name="DebugDir" serializeAs="String">
                <value>$DebugDir</value>
            </setting>
            <setting name="TOCdir" serializeAs="String">
                <value>C:\ProgramData\Tekla Structures\2017i\Environments\common\exceldesign</value>
            </setting>
            <setting name="ExcelPriceDir" serializeAs="String">
                <value>База комплектующих</value>
            </setting>
        </PriceMatch.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PriceMatch.Properties.Settings>
            <setting name="VERSION" serializeAs="String">
                <value>PriceMatch v0.0.1 22.02.2018</value>
            </setting>
        </PriceMatch.Properties.Settings>
    </applicationSettings>
</configuration>